// @theme: blank;

$customer-profile-container-display: flex !default;

$customer-profile-consents-offset-inner: 12px 0 0 35px !default;
$customer-profile-consents-width: 100% !default;
$customer-profile-consents-border-top: 1px solid get-color('additional', 'light') !default;

$customer-profile-info-list-width: 100% !default;
$customer-profile-info-list-name-after-offset-left: 1px !default;
$customer-profile-info-list-name-after-position: absolute !default;

$customer-profile-consents-mobile-offset-inner: 0 !default;
$customer-profile-container-mobile-big-display: block !default;
$customer-profile-consents-mobile-big-border-top: 0 !default;
